* linguist-vendored
*.rs linguist-vendored=false
*.toml linguist-vendored=false
*.sh linguist-vendored=false
*.d linguist-vendored=false
*.json linguist-vendored=false
*.cargo-lock linguist-vendored=false