[Unit]
Description=Kronicle at boot time
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=
Group=wheel
ExecStart=/usr/local/bin/kronicle

[Install]
WantedBy=multi-user.target